
/*
Fondo de main es HTML code:	#F0F0F2
Fondo de side es HTML code:	#D9DDE0
Botones:
    gris oscuro: HTML code:	#A4A3B4
*/
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.welcome {
    height: 100vh;
    align-items: center;
}
h1 {
    color: #585858;
    font-size: 35px;
    padding-top: 30pt;
}

h2 {
    color: #585858;
    font-size: 25px;
}

a{
    text-decoration: underline;
    color: #585858;
    margin-left: 30px;
}

table{
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 25px;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


th,td{
    text-align:  start;
    padding: 8px;
}

tr{
    border-bottom:1px solid rgb(199, 203, 206);
}

tr:last-child{
    border-bottom: none;
}

select{
    background-color: #F0F0F2;
    border: none;
    padding: 5px;
}

select:after{
    border: 6px solid transparent;
}

button{
    border: none;
    padding: 10px;
    margin: 2px;
    background-color: rgb(243, 235, 235);
    border-radius: 8px;
}

/*-- Preloader with Bootstrap Progress Bar--*/
.loader {
	position: fixed; /*stays in the same place even if the page is scrolled*/
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	background: 50% 50% no-repeat rgb(249,249,249);
}
.loader-container {
	width: 400px;
	height: 200px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

.bottom-text{
    position: absolute;
    bottom: 0;
    color: gray;
  }

.checkmark{
    height: 18px;
    width: 18px;
}

.container{
    display: flex;
    min-height: 100vh;
    align-items: stretch;
    position: relative;
}
.container-fluid{
    height: 100vh;
    min-height: 100vh;
    position: relative;
    align-items: stretch;
}
.container-fluid aside {
    background-color: #D9DDE0;
    height: 100vh;
    align-items: center;
    min-height: 100vh;
    align-items: stretch;
}
.first {
    padding-left: 2rem;
    padding-bottom: 2rem;
}
.zipfield{
    padding-left: 2rem;
}
.btnStarted{
    padding-top: 1rem;
    align-content: center;
    text-decoration-line: none;
}

.ziparea{
    
    height: 100vh;
    align-items: center;
    background-color: #F0F0F2;
    order:2;
    flex:1.6;
    vertical-align: middle;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.form-row{
    display:flex;
    vertical-align: middle;
    justify-content: center;
}

.form-row label{
    padding-right: 10px;
}

.form-row input{
    flex:1;
    margin: 8px;
    padding: 5px;
    border-radius: 10px;
}

.custom-bg-sidebar{
    background-color: #D9DDE0;
  }
  
  .custom-bg-main{
    background-color: #F0F0F2;
  }

.container article {
    background-color: #F0F0F2;
    order:2;
    flex:1.6;
    vertical-align: middle;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.form-group,.form-group .input-group{
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    flex: 3;
    position: relative;
}

.white-footer{
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: white;
}

.btn-darkgray{
    background-color: #585858;
    color: white;
    font-size: 15px;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 30px;
}

.btn-white{
    background-color: white;
    color: #585858;
    border-color: #585858;
    font-size: 15px;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.a{
    list-style-image: url(circle.gif);
}

li{
    padding-bottom: 13px;
}

.info{
    margin:40px;
}

.animal-button{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.animal-button li{
    width: 100px;
    height: 100px;
    flex: 1;
}

.animal-button img{
    pointer-events: none;
}

.animal-button input{
    opacity: 0.01;
    z-index: 100;
}
.central{
    padding: 6rem;
}
.animal-button label{
    background-color: rgb(236, 239, 241);
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid #D9DDE0;
    display: inline-block;
    text-align: center;
    width: 77px;
    height: 85px;
}

.animal-button label:hover{
    background: rgb(184, 190, 194);
}

.logo-pata{
    background-color: white;
    border-radius: 50px;
    padding:10px;
}

@media (max-width: 1000px){
    .animal-button{
        display: flex;
        justify-content: space-evenly;
    }
  }
  .choose_file{
    position:relative;
    display:flex;    
    widows: 40px; 
    height: 40px; 
    
  }
  .choose_file img{
  
  width: 40px;
  height: 40px; 
  flex-basis: center; 
  }
  .choose_file input[type="file"]{
    -webkit-appearance:none; 
    position:absolute;
    top:0; left:0;
    opacity:0; 
    height: 30px;
    width: 30px;
  
  }
  .gender-rad {
    list-style-type: none;
    margin: 25px 0 0 0;
    padding: 0;
  }
  .gender-rad li {
    float: left;
    margin: 0 5px 0 0;
    width: 80px;
    height: 20px;
    position: relative;
  }
  .gender-rad label,
  .gender-rad input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .gender-rad input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
    background:	#FDFDFD;
  }
  
  .gender-rad input[type="radio"]:checked+label,
  .Checked+label {
    background: #CCC;
  }
  
  .gender-rad label {
    padding: 5px;
    border: 1px solid rgb(64, 64, 66);
    cursor: pointer;
    z-index: 90;
  }
  
  .gender-rad label:hover {
    background: #DDD;
  }
/*
Fondo de main es HTML code:	#F0F0F2
Fondo de side es HTML code:	#D9DDE0
Botones:
    gris oscuro: HTML code:	#A4A3B4
*/
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

h1 {
    color: #585858;
    font-size: 35px;
    padding-top: 30pt;
}

h2 {
    color: #585858;
    font-size: 25px;
}

a{
    text-decoration: underline;
    color: #585858;
    margin-left: 30px;
}

table{
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 25px;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

th,td{
    text-align: start;
    padding: 8px;
}

tr{
    border-bottom:1px solid rgb(199, 203, 206);
}

tr:last-child{
    border-bottom: none;
}

select{
    background-color: #F0F0F2;
    border: none;
    padding: 5px;
}

select:after{
    border: 6px solid transparent;
}

button{
    border: none;
    padding: 10px;
    margin: 2px;
    background-color: rgb(243, 235, 235);
    border-radius: 8px;
}

.checkmark{
    height: 18px;
    width: 18px;
}

.container{
    display: flex;
    min-height: 100vh;
    align-items: stretch;
    position: relative;
}
.form-row{
    display:flex;
    vertical-align: middle;
    justify-content: center;
}

.form-row label{
    padding-right: 10px;
}

.form-row input{
    flex:1;
    margin: 8px;
    padding: 5px;
    border-radius: 10px;
}

.container article {
    background-color: #F0F0F2;
    order:2;
    flex:1.6;
    vertical-align: middle;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.form-group,.form-group .input-group{
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    flex: 3;
    position: relative;
}

.white-footer{
    background-color: white;
    bottom: 0px;
    margin-top: 120px;
    flex:1;
    position: absolute;
    width: calc(100% - 30px);
    left: 0px;
    bottom: 0px;
    /* padding: 30px 30px; */
    padding-left: 30px;
    padding-bottom: 20px;
}

.btn-darkgray{
    background-color: #585858;
    color: white;
    font-size: 15px;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 30px;
}

.btn-white{
    background-color: white;
    color: #585858;
    border-color: #585858;
    font-size: 15px;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.a{
    list-style-image: url(circle.gif);
}

li{
    padding-bottom: 13px;
}

.info{
    margin:40px;
}

.animal-button{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.animal-button li{
    width: 100px;
    height: 100px;
    flex: 1;
}

.animal-button img{
    pointer-events: none;
}

.animal-button input{
    opacity: 0.01;
    z-index: 100;
}

.animal-button label{
    background-color: rgb(236, 239, 241);
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid #D9DDE0;
    display: inline-block;
    text-align: center;
    width: 77px;
    height: 85px;
}

.animal-button label:hover{
    background: rgb(224, 228, 231);
}

.logo-pata{
    background-color: white;
    border-radius: 50px;
    padding:10px;
}

@media (max-width: 1000px){
    .animal-button{
        display: flex;
        justify-content: space-evenly;
    }
  }
  .choose_file{
    position:relative;
    display:flex;    
    widows: 40px; 
    height: 40px; 
    
  }
  .choose_file img{
  
  width: 40px;
  height: 40px; 
  flex-basis: center; 
  }
  .choose_file input[type="file"]{
    -webkit-appearance:none; 
    position:absolute;
    top:0; left:0;
    opacity:0; 
    height: 30px;
    width: 30px;
  
  }
  .gender-rad {
    list-style-type: none;
    margin: 25px 0 0 0;
    padding: 0;
  }
  .gender-rad li {
    float: left;
    margin: 0 5px 0 0;
    width: 80px;
    height: 20px;
    position: relative;
  }
  .gender-rad label,
  .gender-rad input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .gender-rad input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
    background:	#FDFDFD;
  }
  
  .gender-rad input[type="radio"]:checked+label,
  .Checked+label {
    background: #CCC;
  }
  
  .gender-rad label {
    padding: 5px;
    border: 2px solid rgb(176, 176, 194);
    border-radius: 10%;
    cursor: pointer;
    text-align: center;
    z-index: 90;
  }
  
  .gender-rad label:hover {
    background: #DDD;
  }

/*
Fondo de main es HTML code:	#F0F0F2
Fondo de side es HTML code:	#D9DDE0
Botones:
    gris oscuro: HTML code:	#A4A3B4
*/
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

h1 {
    color: #585858;
    font-size: 35px;
    padding-top: 30pt;
}

h2 {
    color: #585858;
    font-size: 25px;
}

a{
    text-decoration: underline;
    color: #585858;
    margin-left: 30px;
}

table{
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 25px;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

th,td{
    text-align: start;
    padding: 8px;
}

tr{
    border-bottom:1px solid rgb(199, 203, 206);
}

tr:last-child{
    border-bottom: none;
}

select{
    background-color: #F0F0F2;
    border: none;
    padding: 5px;
}

select:after{
    border: 6px solid transparent;
}

button{
    border: none;
    padding: 10px;
    margin: 2px;
    background-color: rgb(243, 235, 235);
    border-radius: 8px;
}

.checkmark{
    height: 18px;
    width: 18px;
}

.container{
    display: flex;
    min-height: 100vh;
    align-items: stretch;
    position: relative;
}

.form-row{
    display:flex;
    vertical-align: middle;
    justify-content: center;
}

.form-row label{
    padding-right: 10px;
}

.form-row input{
    flex:1;
    margin: 8px;
    padding: 5px;
    border-radius: 10px;
}

.container article {
    background-color: #F0F0F2;
    order:2;
    flex:1.6;
    vertical-align: middle;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.form-group,.form-group .input-group{
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    flex: 3;
    position: relative;
}

.white-footer{
    background-color: white;
    bottom: 0px;
    margin-top: 120px;
    flex:1;
    position: absolute;
    width: calc(100% - 30px);
    left: 0px;
    bottom: 0px;
    /* padding: 30px 30px; */
    padding-left: 30px;
    padding-bottom: 20px;
}

.btn-darkgray{
    background-color: #585858;
    color: white;
    font-size: 15px;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 30px;
}

.btn-white{
    background-color: white;
    color: #585858;
    border-color: #585858;
    font-size: 15px;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.a{
    list-style-image: url(circle.gif);
}

li{
    padding-bottom: 13px;
}

.info{
    margin:40px;
}

.animal-button{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.animal-button li{
    width: 100px;
    height: 100px;
    flex: 1;
}

.animal-button img{
    pointer-events: none;
}

.animal-button input{
    opacity: 0.01;
    z-index: 100;
}

.animal-button label{
    background-color: rgb(236, 239, 241);
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid #D9DDE0;
    display: inline-block;
    text-align: center;
    width: 77px;
    height: 85px;
}

.animal-button label:hover{
    background: rgb(224, 228, 231);
}

.logo-pata{
    background-color: white;
    border-radius: 50px;
    padding:10px;
}

@media (max-width: 1000px){
    .animal-button{
        display: flex;
        justify-content: space-evenly;
    }
  }
  .choose_file{
    position:relative;
    display:flex;    
    widows: 40px; 
    height: 40px; 
    
  }
  .choose_file img{
  
  width: 40px;
  height: 40px; 
  flex-basis: center; 
  }
  .choose_file input[type="file"]{
    -webkit-appearance:none; 
    position:absolute;
    top:0; left:0;
    opacity:0; 
    height: 30px;
    width: 30px;
  
  }
  .gender-rad {
    list-style-type: none;
    margin: 25px 0 0 0;
    padding: 0;
  }
  .gender-rad li {
    float: left;
    margin: 0 5px 0 0;
    width: 80px;
    height: 20px;
    position: relative;
  }
  .gender-rad label,
  .gender-rad input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .gender-rad input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
    background:	#FDFDFD;
  }
  
  .gender-rad input[type="radio"]:checked+label,
  .Checked+label {
    background: #CCC;
  }
  
  .gender-rad label {
    padding: 5px;
    border: 1px solid rgb(64, 64, 66);
    cursor: pointer;
    z-index: 90;
  }
  
  .gender-rad label:hover {
    background: #DDD;
  }