<!DOCTYPE html>
    <head>
        <title>
		    Confirmation of information
    	</title>
    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
     
        <link rel="stylesheet" href="css/style.css">   
    
      
    

    </head>

    <body>
        <div class="container">

                <article class="form-group">
                    <form  action = "../Templates/schedule.html">  
                     <div class="input-group">
                         <h1>Okay Ginger we're all set! We can't wait to meet her.</h1>
                         </div>

                        <section class="white-footer">
                          <br>
                            <input class="btn-white" type="submit" name="btn-back" value="Back">
                            <input class="btn-darkgray" type="submit" name="btn-next" value="Next">
                        </section>
                    </form>
                </article>
            

            <aside>
                <div class="info">
                <img class="logo-pata" src="css/pata.png">
                <ul class="a">
                    <li>
                        Human profile
                    </li>
                    <li>
                        Pet basics
                    </li>
                    <li>
                        Pet details
                    </li>
                    <li>
                        Confirm
                    </li>
                </ul>
                <a href="">Save and log out</a> 
            </div>
            </aside>
        </div>


    </body>
</html>
