<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Services</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/myservices.css">
  </head>

  <body>
    <div class="flex-container">
    <aside>
    <nav class="navbar-nav">
      <a class="navbar-brand" href="#">
        <img class = "logo-pata" src="../Templates/css/pata.png">
      </a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Book a Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My services</a>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="#">Scheduled</a>
              </li>
              <li>
                <a href="#">Completed</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My pet profiles</a>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="#">Ginger</a>
              </li>
              <li class="nav-item">
                <a href="#">Fluffy</a>
              </li>
            </ul>
          </li>
        </ul>
    </nav>

    <a href="#">My account</a>
    <br>
    <a href="#">Support</a>
    <br>
    <a href="#">Sign out</a>
  </aside>

  <article class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <h3 class="feature-title pl-3">My Services</h3>
        <div class="card">
          <div class="card-header">
              Scheduled services
          </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#">Saturday February 20th</a>
            <p class="mb-1">Dog Walk</p>
            <p class="mb-1">Morning</p>
          </li>
          <li class="list-group-item">
            <a href="#">Sunday February 21th</a>
            <p class="mb-1">Dog Walk</p>
            <p class="mb-1">Morning</p>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
            Completed services
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item active">
            <a href="#">Friday February 19th</a>
            <p class="mb-1">Dog Walk</p>
            <p class="mb-1">Morning</p>
          </li>
          <li class="list-group-item">
            <a href="#">Thursday February 18th</a>
            <p class="mb-1">Dog Walk</p>
            <p class="mb-1">Morning</p>
          </li>
          <li class="list-group-item">
            <a href="#">Wednesday February 17th</a>
            <p class="mb-1">Dog Walk</p>
            <p class="mb-1">Morning</p>
          </li>
        </ul>
      </div>
      </div>

      <div class="col-md-8 pl-0 pr-0">
        <div class="card details">
          <div class="row no-gutters">
            <div class="col-md-7">
              <h3 class="feature-title">Friday February 19th</h3>
            </div>
            <div class="col-md-2">
              <span class="badge badge-pill badge-light">Morning</span>
          <span class="badge badge-pill badge-light">Dog walk</span>
            </div>
        </div>  
      </div>
        <div class="card details">
          <div class="row no-gutters">
            <div class="col-md-2">
              <img class="card-img-top quote" src="css/quote.png">
            </div>
            <div class="col-md-5">
                <div class="card-body">
                  <p class="card-text details">Ginger was very happy to be on a walk. She was sweet and well behaved as always</p>
                  <p class="card-text details"><small class="text-muted">Messages</small></p>
                </div>
            </div>
            <div class="col-md-2">
              <img class="card-img-top details" src="css/foto_paseo.jpg">
            </div>
            </div>
          </div>
      <div class="card details">
      <div class="row no-gutters">
        <div class="col-md-7">
          <span class="font-weight-normal">Arrival: <time class="font-weight-bold">10:00 AM</time></span>
          <span class="font-weight-normal">Departure: <time class="font-weight-bold">10:30 AM</time></span>
          <img class="card-img-top pt-2" src="css/map.png">
        </div>
        <div class="col-md-2 pl-2">
          <button type="button" class="btn btn-light"><img src="css/pin.png" alt="">2 km</button>
          <button type="button" class="btn btn-light"> <img src="css/clock.png" alt="">30 min</button>
          <button type="button" class="btn btn-light"><img src="css/poop.png" alt="">1 poop</button>
            <button type="button" class="btn btn-light"><img src="css/drop.png" alt="">2 pees</button>
        </div>
      </div>
    </div>
    <div class="card details">
      <div class="row no-gutters">
        <div class="col-md-2">
          <img class="card-img-top pl-4" src="css/account.png" alt="Profile photo">
        </div>
        <div class="col-md-5">
          <div class="card-body">
            <p class="card-text">Your sitter</p>
            <p class="card-text font-weight-bold">Andrew Couldwell</p>
          </div>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-light"><img src="css/star.png">4.8 rating</button>
          <button type="button" class="btn btn-light"><img src="css/star.png">Review</button>
        </div>
      </div>
    </div>
    <div class="card details">
      <div class="row no-gutters">
        <div class="col-md-3 text-center">
          <button type="button" class="btn btn-light"><img src="css/star.png">Recent service</button>
        </div>
        <div class="col-md-3 text-center">
          <button type="button" class="btn btn-light"><img src="css/star.png">View Message</button>
        </div>
        <div class="col-md-3 text-center">
          <button type="button" class="btn btn-light"><img src="css/star.png">Give Feedback</button>
        </div>
      </div>
    </div>
  </div>
      
      
    </div>  
  </article>

</div
>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="css/myservices.js"></script>
  </body>
</html>