<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Ejemplo
        </title>

        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <div class="container">
        <article>
        <form class="form-group" action = "../Templates/schedule.html">  
            <div class="input-group">
                <h1>Nice to meet you, Meagan. Tell us all about your furry, feathery, or scaley friend.</h1>
                <h3>What Type of pet do you have?</h3>
            <div class="animal-rb">
                <ul class="animal-button">
                    <li>
                        <input type="radio" id="perro" name="perro"/>
                        <label for="perro">
                            <img src="css/dog.png"/>Dog
                        </label>
                    </li>
                    <li>
                        <input type="radio" id="gato" name="gato"/>
                        <label for="gato">
                            <img src="css/cat.png">Cat
                        </label>
                    </li>
                    <li>
                        <input type="radio" id="ave" name="ave"/>
                        <label for="ave">
                            <img src="css/bird.png"/>Bird
                        </label>
                    </li>
                    <li>
                        <input type="radio" id="other" name="other"/>
                        <label for="other">
                            <img src="css/other.png"/>Other
                        </label>
                    </li>
                </ul>
            </div>
            <p>Have multiple pets? That's awesome. You can create additional pet profiles for the whole family later.</p>
        </div>
            
        </form>
        <section class="white-footer">
            <a  href="../Templates/Register.html" class="btn-white" >Back</a>
            <a  href="../Templates/schedule.html" class="btn-darkgray" >Next</a>
        </section>
    </article>
        <aside>
            <div class="info">
            <img class="logo-pata" src="css/pata.png">
            <ul class="a">
                <li>
                    Human profile
                </li>
                <li>
                    Pet basics
                </li>
                <li>
                    Pet details
                </li>
                <li>
                    Confirm
                </li>
            </ul>
            <a href="">Save and log out</a> 
        </div>
        </aside>
    </div>
    </body>
</html>