<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Ejemplo
        </title>

        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <div class="container">
        <article>
        <form class="form-group" action = "../Templates/Petbasics.html">  
            <div class="input-group">
                <h1>Good News! We care for pets in Winter Park. Let's create your account.</h1>
            <div class="form-row">
                <label for="correo">Email Address</label>
                <br>
                <input type="email" name="correo" placeholder="Your email address">
            </div>
            <div class="form-row">
                <br><label for="contrasena">Password</label>
                <input type="password" name="contrasena" placeholder="*******">
            </div>
            <div class="form-row">
                <label for="confirmPswd">Confirm Password</label>
                <input type="password" name="confirmPswd" placeholder="*******">
            </div>
            <br><input type="checkbox" class="checkmark" name="chckbox"><label for="chckbox">I have read the Privacy Policy and agree to the Terms of Service.</label>
        </div>     
        </form>
        <section class="white-footer">
            <br>
            <a href="">Already a member? Log in</a> 
            <a  href="../Templates/Petbasics.html" class="btn-darkgray" >Next</a>
        </section>
    </article>
        <aside>
            <div class="info">
            <img class="logo-pata" src="css/pata.png">
            <h2>Why our service?</h2>
            <ul class="a">
                <li>
                    We're animal lovers backed by insurance and experience
                </li>
                <li>
                    Powered by tech, so you can book and pay from our app
                </li>
                <li>
                    We use GPS to let you track your sitter's location
                </li>
                <li>
                    Updates and pics for every visit keep you in the loop
                </li>
            </ul>
        </div>
        </aside>
    </div>
    </body>
</html>