<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Ejemplo
        </title>

        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <div class="container">
        <article>
        <form class="form-group" action = "../Templates/confirm.html">  
            <h1>Almost there, let's ust confirm all the details</h1>
            <table>
                <th>Service for Ginger</th>
                <td></td>
                <td></td>
                <tr>
                    <th>Service type</th>
                    <td>Dog walk</td>
                    <td>$15 / walk</td>
                </tr>
                <tr>
                    <th>Service time</th>
                    <td>
                        <button>Morning</button>
                        <button>Afternoon</button>
                    </td>
                    <td>x 2</td>
                </tr>
                <tr>
                    <th>Occuring</th>
                    <td>
                        <button>M</button>
                        <button>T</button>
                        <button>W</button>
                        <button>T</button>
                        <button>F</button>
                    </td>
                    <td>x 5</td>
                </tr>
                <tr>
                    <th>Payment type</th>
                    <td>
                        <select name="payment">
                            <option value="debit">
                                Visa Debit Card
                            </option>
                            <option value="mastercard">
                                Mastercard
                            </option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <th>Billed weekly on Sunday</th>
                    <td></td>
                    <td>Total $150/week</td>
                </tr>
            </table>
        </form>          
        <section class="white-footer">
            <a  href="../Templates/Petbasics.html" class="btn-white" >Back</a>
            <a  href="../Templates/Register.html" class="btn-darkgray" >Next</a>
        </section>
    </article>
        <aside>
            <div class="info">
            <img class="logo-pata" src="css/pata.png">
            <h2>All services  include:</h2>
            <ul class="a">
                <li>
                    The love and care of an insured and accredited sitter
                </li>
                <li>
                    A photo update for you along with chat during the service
                </li>
                <li>
                    Notifications of sitter arrival and departure times
                </li>
                <li>
                    Treats for your pet with your permission of course
                </li>
            </ul> 
        </div>
        </aside>
    </div>
    </body>
</html>