<!doctype html>

<head>
	<meta charset="utf-8">

	<title>Your info</title>
	<link href="CSS\style.css" type="text/css" rel="stylesheet"> 
</head>
<body>

	<div class="container">
		<aside>
			<div class="info">
				<img class="logo-pata" src="css/pata.png">
				<ul class="a">
					<li>
						Human profile
					</li>
					<li>
						Pet basics
					</li>
					<li>
						Pet details
					</li>
					<li>
						Confirm
					</li>
				</ul>
				<a href="">Save and log out</a> 
			</div>
		</aside >
	

		<article class="form-group">	
			<form >
			<div class="input-group">
			  <h1>Hello! please tell us a little bit about yourself</h1>
					<div class="form-row">
                		<label for="firstname">First Name</label>
                		<br>
					<input type="text" name="First name" placeholder="Your First Name">
					<label for="lastname">Last Name</label>
						<input type="text" name="Lastname" placeholder="Your First Name">
					</div>
					
					<div class="form-row">
						<label for="Phone">Phone Number</label>
                		<br>
					<input type="tel" name="Phone" placeholder="00-000-0000">
					<label for="PhoneAlt">Phone Alt</label>
						<input type="tel" name="phonenumberalt" placeholder="00-000-000">
					</div>
					
					<div class="form-row">
						<br>
						<label for="Streetaddress">Street address </label>
								<input type="text" name="Streetaddress" placeholder="Your Street Address">
						</div>
						<div class="form-row">
							<label for="city">City</label>
							<br>
						<input type="text" name="City" placeholder="Panama">
						<label for="State">State</label>
						<select name="States" >
							<option value="Bocas del Toro">Bocas del Toro</option>
							<option value="Chiriquí">Chiriquí</option>
							<option value="Cocle">Coclé</option>
							<option value="Colon">Colon</option>
							<option value="Darien">Darien</option>
							<option value="Herrera">Herrera</option>
							<option value="Los Santos">Los Santos</option>
							<option value="Panama">Panama</option>
							<option value="Veraguas">Veraguas</option>
						  </select>
						  <label for="Zip">Zip</label>
								<input  type="text" name="zip" placeholder="">
						</div>
					

					
					
					
			</div>

			<section class="white-footer">
                <br>
                <input class="btn-white" type="submit" name="btn-back" value="Back">
                <input class="btn-darkgray" type="submit" name="btn-next" value="Next">
            </section>
			</form>
			
			
	 
				

		</section>
	</div>

</body>
</html>
